@model System.Collections.Generic.List<QuestionStorage.Models.Courses.CoursesInfo>

@{
    ViewData["Title"] = "Courses";
    var questionsCount = ViewBag.QuestionsCount;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Courses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
    <link rel="contents" href="/lib/resources/answer-open.xml">
</head>
<body>

@using (Html.BeginForm("ListCourses", "Display", FormMethod.Post))
{
    <div style="display: flex; align-items: center">
        <h1 class="page-header">Courses</h1>
        @if (User.IsInRole("administrator"))
        {
            <button class="plus" id="addQuestionId" type="button" style="margin-left: 10px" onclick="location.href='@Url.Action("Create", "Courses")'"></button>
        }
    </div>
    
    <br/>

    @if (Model != null)
    {
        @for (int i = 0; i < Model.Count; ++i)
        {
            var course = Model[i];
            <div>
                <a asp-action="Details" asp-controller="Courses" asp-route-courseId="@course.CourseId">@course.CourseName [@questionsCount[i]]</a>
            </div>
            <br/>
        }
    }

    <br/>
}
</body>
</html>