@model System.Collections.Generic.List<QuestionStorage.Models.Quizzes.Quiz>

@{
    ViewData["Title"] = "Quizzes";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Tests</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
    <link rel="contents" href="/lib/resources/answer-open.xml">
</head>
<body>
@using (Html.BeginForm("ListTests", "Display", FormMethod.Post))
{

    <h1 class="page-header">Quizzes</h1>
    <br/>

    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div>
                <a asp-action="AboutTest" asp-route-courseId="@item.CourseId" asp-route-quizId="@item.Id">#@item.Id. @item.Name</a>
            </div>
            <br/>
        }
    }
    
    <br/>
}
</body>
</html>