@model IEnumerable<QuestionsInfo>

@{
    ViewData["Title"] = "List";
}
<head>
    <title>List questions</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>

@foreach (var item in Model)
{
    <div>
        <a asp-action="About" asp-route-id="@item.QuestId">Question #@item.QuestId</a>
        <br />
        @foreach (var tag in item.TagsQuestions)
        {
            <a class="tag-button"
               href='@Url.Action("ListByTag", "Display", new {id = tag.Tag.TagId})'>
                <text>@Url.Content($"{tag.Tag.Name}".TrimEnd('.'))</text>
            </a>
        }
        
    </div>
    <br />
}
