@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/select2.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>

<body class="gradient">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom-0 box-shadow mb-3">
        <div class="container">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-brand text-light" style="font-weight: lighter; margin-top: 0">QStorage</div>
            }
            else
            {
                <a class="navbar-brand text-light" style="font-weight: lighter; color: white" asp-action="Index" asp-controller="Home">QStorage</a>
            }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-light" asp-action="Logout" asp-controller="Account">Sign out</a>
                    <a class="nav-link text-violet" asp-action="Edit" asp-controller="Account">@User.Identity.Name</a>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-action="Create" asp-controller="Questions">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-action="Questions" asp-controller="Home">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-action="Export" asp-controller="Questions">Export</a>
                        </li>
                    </ul>
                }
                else
                {
                    <a class="nav-link text-light" asp-action="Login" asp-controller="Account">Sign in</a>
                }
            </div>
        </div>
    </nav>
</header>
<p style="margin-left: 10%; margin-top: 10%; font-weight: lighter; font-size: xx-large">Support & Feedback</p>
<p style="margin-left: 10%; font-size: large">
    If you need any help with QStorage feel free to contact a
    <a href="mailto:mmanakhova@ithse.ru">developer</a> :)
</p>
<footer class="border-top-0 footer box-shadow text-light" style="font-weight: lighter">
    <div class="container">
        &copy; 2020 –– QStorage –– <a style="color: white" asp-action="Contact" asp-controller="Home">Contact developer</a>
    </div>
</footer>
</body>
</html>