@{
    ViewBag.Title = "Restore password";
}

<!DOCTYPE html>
<head>
    <title>Restore password</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>
<body class="gradient">
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { SubmitButton = "submitButton", id = "formSubmit" }))
{
    <div class="div-center">
        <h1 class="lighter-text">Forgot password?</h1>
        <br/>
        <p>
            <textarea name="Email" class="user-data-textarea" placeholder="Email"></textarea>
        </p>
        <input type="submit" class="user-submit" id="submitButton" value="Send link"/>
    </div>
}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formSubmit").keypress(function (e) {
                const keycode = e.keyCode || e.charCode || e.which; 
                if (keycode === 13)    
                {
                    let submitButton = $(this).attr("SubmitButton");
                    $("#" + submitButton).click();
                    return false;
                }
            });
        });
    </script>
</body>
