@{
    ViewBag.Title = "Restore password";
}

<!DOCTYPE html>
<head>
    <title>Restore password</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>
<body class="gradient">

<div>
    <h1 class="lighter-text">Restoration link was sent to your email.</h1>
</div>

</body>