@model QuestionStorage.Models.ViewModels.EditViewModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>
<body class="gradient">
@using (Html.BeginForm("RestorePassword", "Account", routeValues: new { token = ViewBag.Token }, FormMethod.Post))
{
      @Html.AntiForgeryToken()
     <div class="div-center">
         <h2 class="lighter-text">Restore password</h2>
         <p>@Html.EditorFor(model => model.NewPassword,
                new {htmlAttributes = new {@class = "user-data-textarea", placeholder = "New password"}})</p>
         @Html.ValidationMessageFor(model => model.ConfirmPassword,
             string.Empty,new {@class="input-error"})
         <p>@Html.EditorFor(model => model.ConfirmPassword,
                new {htmlAttributes = new {@class = "user-data-textarea", placeholder = "Confirm password"}})</p>
         <br/>
         <input type="submit" class="user-submit" value="Set new password"/>
         <br/>
     </div>
}
</body>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}