@model QuestionStorage.Models.Courses.Course

@{
    ViewBag.Title = "Settings";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
    <link rel="contents" href="/lib/resources/answer-open.xml">
</head>
<body>
@using (Html.BeginForm("Edit", "Courses", FormMethod.Post, new { SubmitButton = "submitButton", id = "formSubmit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("Please provide the details below and then click submit.",
        new {@class = "text-danger"})
    <h1 class="page-header">Course Settings</h1>
    <p class="less-bottom-space">Change course name</p>
    <p>@Html.TextAreaFor(model => model.Name, 1, 100,
        new {@class = "textarea short", id = "courseName"})
    </p>
    <input type="submit" class="submit" id="submitButton" value="Save changes">
    
    <br/>   
    <hr/>
    <a asp-action="Delete" asp-route-courseId="@Model.Id">
        <button type="button" class="button add" onclick="return confirm('Are you sure you want to delete this course?')">Delete course</button>
    </a>
}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formSubmit").keypress(function (e) {
                const keycode = e.keyCode || e.charCode || e.which; 
                if (keycode === 13)    
                {
                    let submitButton = $(this).attr("SubmitButton");
                    $("#" + submitButton).click();
                    return false;
                }
            });
        });
    </script>
</body>