@model QuestionStorage.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="div-center">
    <h1 class="text-danger">Error @ViewBag.StatusCode.</h1>
    <h2 class="text-danger">An error occurred while processing your request :(</h2>

    @if (Model != null && Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>

    }
</div>



